@font-face {
    font-family: Poppins-semi;
    src: url(Poppins/Poppins-SemiBold.ttf);
}

:root{
    --primary: #7091F5;
}
.navbar-brand{
    font-family: "Poppins-semi";
    color: var(--primary);
    font-size: 27px;
}
.btn:hover{
    background-color: var(--primary);
    transition:  all .3s ease;
    color: white;
}
.dropdown{
    margin-left: 20px;
}
.products-header p{
    font-size: 20px;
    color: rgb(37, 37, 37);
    font-weight: 500;
}
.products-header{
    margin-top: 30px;
}
.product-card{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
}
.card-review i{
    color: #ffe234;
}
.footer-header{
    display: flex;
    justify-content: space-between;
}
.footer{
    background-color: rgb(241, 241, 241);
    padding: 30px 120px;
    margin-top: 100px;
}
.footer-left h1{
    color: var(--primary);
}
.footer-navbars{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.footer-navlist ul{
    list-style: none;
}
.footer-navlist ul li{
    padding: 10px;
    font-size: 18px;
}

@media (max-width:1200px) {
    .footer-left h1{
        font-size: 18px;
    }
    .footer{
        padding: 15px 50px;
    }
}

@media (max-width:720px) {
    .footer-left h1{
        font-size: 18px;
    }
    .footer{
        padding: 10px 20px;
    }
    .footer-header{
        display: block;
    }
    .footer-navbars{
        flex-wrap: wrap;
    }
    .footer-navlist ul li{
        font-size: 12px;
    }
}